* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header p {
  font-size: 25px;
}

.indicator {
  width: 340px;
  height: 14px;
  border: 1px solid red;
  border-radius: 6px;
  display: flex;
  overflow: hidden;
}

.indicator span {
  display: inline-block;
  flex: 1 1 auto;
  background: #000;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}
.pads > button {
  height: 120px;
  width: 100px;
  flex: 1;
  cursor: pointer;
  border: none;
  transition: 0.1s ease;
}

.pads > button:focus {
  opacity: 0.7;
}

.pad1 {
  background: #2ecc71;
}
.pad2 {
  background: #d36060;
}
.pad3 {
  background: #c060d3;
}
.pad4 {
  background: #d3d160;
}
.pad5 {
  background: #606bd3;
}
.pad6 {
  background: #60c2d3;
}

.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

.btn-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-holder button {
  padding: 10px 14px;
  margin: 8px 12px;
  font-size: 20px;
  text-align: left;
  border-radius: 8px;
  background-color: #ecf0f1;
  cursor: pointer;
  position: relative;
  outline: none;
}

.btn-holder button:after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 38px;
  width: 38px;
  top: 2px;
  right: 6px;
  transition: 0.3s ease;
  transform-origin: center;
  /* transform: translate(0, -50%); */
}

.btn-holder button:hover:after {
  transform: scale(0.9);
}

.btn-col {
  display: flex;
  flex-direction: column;
}

.record {
  border: 2px solid #e74c3c;
  border-bottom: 6px solid #e74c3c;
  min-width: 180px;
}

.record.is-active:after {
  animation: 1.5s linear 0.1s infinite role;
}

.record:active {
  border-bottom: 2px solid #e74c3c;
}

.record:after {
  background-image: url(./img/ico-music-record.png);
}

.pause {
  border: 2px solid #7f8c8d;
  border-bottom: 6px solid #7f8c8d;
  min-width: 190px;
}

.pause:active {
  border-bottom: 2px solid #7f8c8d;
}

.pause:after {
  background-image: url(./img/ico-pause-record.png);
}

.clear {
  border: 2px solid #34495e;
  border-bottom: 6px solid #34495e;
}

.clear:active {
  border-bottom: 2px solid #34495e;
}

.btn-holder .clear:after {
  background-image: url(./img/ico-clear-button.png);
}

.btn-holder .play {
  border: 2px solid #2ecc71;
  border-bottom: 6px solid #2ecc71;
  min-width: 110px;
}

.play:after {
  background-image: url(./img/ico-play-button.png);
}

.play:active {
  border-bottom: 2px solid #2ecc71;
}

button[disabled] {
  opacity: 0.8;
  pointer-events: none;
}

.play[disabled] {
  border-bottom: 2px solid #2ecc71;
}

.pause[disabled] {
  border-bottom: 2px solid #7f8c8d;
}

.clear[disabled] {
  border-bottom: 2px solid #34495e;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 0%;
    left: 80%;
  }
}

@keyframes role {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}